{% extends "layout.html" %}  

{% block content %}
<div class="portada">
    <video src="{{ url_for('static', filename='video/portada.mp4') }}" type="video/mp4" autoplay muted loop></video>

    <div class="evento">
      <div class="fecha"><span>27-10-24</span>
      <p>Peparate para el mejor evento del año que podras disfrutar</p>
    </div>
    
      <div class="name-evento">
        <H1>TU SHOW</H1>
        <p>LUGAR: ZONA, CALLE, LOCAL</p>
      </div>
    </div>

</div>

<!--info-->
<div class="Sobre-el-evento">
  <div class="info-evento">
    <div class="Img-evento">
      <img class="Imagen-info" src="" alt="">
    </div>
  </div>
  <div class="info-evento-texto"></div>
  
</div>
{% endblock %}
